workflows/perplexity-sentinel.json
{
  "name": "Perplexity Sentinel - GitHub Event Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "perplexity-sentinel",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-github-event",
      "name": "GitHub Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$credentials.perplexityApi.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={\n  \"model\": \"sonar-reasoning\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"MODE: audit\\nSTATE: TESTED\\nENV: {{ $json.body.ref.split('/')[2] === 'main' ? 'prod' : 'dev' }}\\nRISK: {{ $json.body.ref.split('/')[2] === 'main' ? 'high' : 'low' }}\\n\\nYou are the Sentinel Agent for Jen OS. Analyze GitHub events for SPEC.md compliance and security issues. Provide only factual, cite-backed analysis. Focus on execution-ready findings.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this GitHub event:\\n\\nRepository: {{ $json.body.repository.full_name }}\\nBranch: {{ $json.body.ref }}\\nCommit: {{ $json.body.head_commit.id }}\\nAuthor: {{ $json.body.head_commit.author.name }}\\nMessage: {{ $json.body.head_commit.message }}\\n\\nFiles changed: {{ JSON.stringify($json.body.head_commit.added.concat($json.body.head_commit.modified)) }}\\n\\nTasks:\\n1. Check for SPEC.md violations\\n2. Identify security concerns\\n3. Assess deployment risk\\n4. Recommend actions (approve/block/investigate)\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "perplexity-analysis",
      "name": "Perplexity Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.choices[0].message.content }}",
              "operation": "contains",
              "value2": "BLOCK"
            }
          ]
        }
      },
      "id": "check-recommendation",
      "name": "Check Recommendation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "owner": "={{ $node['GitHub Event Webhook'].json.body.repository.owner.login }}",
        "repository": "={{ $node['GitHub Event Webhook'].json.body.repository.name }}",
        "title": "🚨 SENTINEL ALERT: Potential SPEC.md Violation",
        "body": "## Sentinel Health Check - Action Required\n\n**Commit:** {{ $node['GitHub Event Webhook'].json.body.head_commit.id }}\n**Author:** {{ $node['GitHub Event Webhook'].json.body.head_commit.author.name }}\n**Branch:** {{ $node['GitHub Event Webhook'].json.body.ref }}\n\n### Analysis\n\n{{ $node['Perplexity Analysis'].json.choices[0].message.content }}\n\n---\n\n**Generated by:** Perplexity Sentinel Agent\n**Timestamp:** {{ new Date().toISOString() }}",
        "labels": {
          "label": [
            "security",
            "sentinel",
            "needs-review"
          ]
        }
      },
      "id": "create-github-issue",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": "49407a62d3f940d0861b5f6ffe3c3ec1",
        "title": "Sentinel: {{ $node['GitHub Event Webhook'].json.body.repository.name }}",
        "propertiesUi": {
          "property": [
            {
              "key": "Event Type",
              "textValue": "GitHub Push"
            },
            {
              "key": "Repository",
              "textValue": "={{ $node['GitHub Event Webhook'].json.body.repository.full_name }}"
            },
            {
              "key": "Commit SHA",
              "textValue": "={{ $node['GitHub Event Webhook'].json.body.head_commit.id }}"
            },
            {
              "key": "Risk Level",
              "textValue": "={{ $json.choices[0].message.content.includes('BLOCK') ? 'High' : 'Low' }}"
            },
            {
              "key": "Status",
              "selectValue": "={{ $json.choices[0].message.content.includes('BLOCK') ? 'Blocked' : 'Approved' }}"
            }
          ]
        },
        "blockUi": {
          "block": [
            {
              "type": "paragraph",
              "textContent": "={{ $json.choices[0].message.content }}"
            }
          ]
        }
      },
      "id": "log-to-notion",
      "name": "Log to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [910, 400]
    }
  ],
  "connections": {
    "GitHub Event Webhook": {
      "main": [
        [
          {
            "node": "Perplexity Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Analysis": {
      "main": [
        [
          {
            "node": "Check Recommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recommendation": {
      "main": [
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "autonomous",
      "id": "auto-001"
    },
    {
      "name": "perplexity",
      "id": "pplx-001"
    },
    {
      "name": "sentinel",
      "id": "sent-001"
    }
  ],
  "meta": {
    "instanceId": "jen-os-production"
  },
  "id": "perplexity-sentinel-v1",
  "active": true
}