workflows/router-orchestrator-v3.json
{
  "name": "Router Tasks Orchestrator v3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "f65e7d1486474bd88c0598add298f0d8",
        "returnAll": false,
        "limit": 10,
        "filterType": "manual",
        "manualFilter": {
          "conditions": [
            {
              "property": "Status",
              "type": "select",
              "selectCondition": "equals",
              "selectValue": "PENDING"
            }
          ]
        }
      },
      "name": "Get PENDING Tasks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $json.id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status",
              "selectValue": "CLAIMED"
            }
          ]
        }
      },
      "name": "Claim Task",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "taskId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "payload",
              "value": "={{ $json.properties.Payload.rich_text[0]?.plain_text || 'No payload' }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Save Task Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.payload) }}\n    }\n  ]\n}"
      },
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('Save Task Info').item.json.taskId }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status",
              "selectValue": "DONE"
            },
            {
              "key": "Execution Notes",
              "textContent": "={{ $json.content[0].text.substring(0, 2000) }}"
            },
            {
              "key": "Executed By",
              "textContent": "n8n-orchestrator"
            }
          ]
        }
      },
      "name": "Update Done",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1450, 200]
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [
        [
          {
            "node": "Get PENDING Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PENDING Tasks": {
      "main": [
        [
          {
            "node": "Has Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tasks?": {
      "main": [
        [
          {
            "node": "Claim Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Task": {
      "main": [
        [
          {
            "node": "Save Task Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Task Info": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Update Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}